In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [5]:
# Print the first element in the string

print(Name[0])

M

In [6]:
print(Name[1])

i

In [7]:
print(Name[-1])

n

In [8]:
Name[0:4]

'Mich'

In [9]:
Name[8:12]

'Jack'

In [10]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [11]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

In [12]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [13]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [14]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best